*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --margem: 0px 100px;
}

header{
    margin: var(--margem);
    background-color: rgb(70, 220, 226);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header nav ul li a:hover{
    color: rgb(12, 87, 228);
    font-weight: bold;
}

.section-portal-dev, .section-cadastro-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(216, 252, 240);
    margin: var(--margem);
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-dev{
    width: 650px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grupo-form{
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao-portal{
    text-align: center;
}

.item-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea{
    height: 40px;
    padding: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    outline: none;
}

textarea{
    height: 400px;
    resize: none;
}

.botoes-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.botoes-form input{
    width: 150px;
    height: 30px;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    cursor: pointer;
    color: cornflowerblue;
    font-weight: bold;
}

.botoes-form input[type="submit"]{
    background-color: cornflowerblue;
    color: white;
}

.botoes-form input[type="submit"]:hover{
    background-color: white;
    color: cornflowerblue;
}


